* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #5D6063;
}

a:link,
a:visited {
  color: #5D6063;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background: #D6E9FE;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.menu > li {
  display: inline;
  margin-right: 50px;
  font-size: 18px;
  text-decoration: none;
}

#dallinimg {
  align-content: right;
}

.menu li a {
  text-decoration: none;
}

.menu li a:active {
  text-decoration: underline;
}

.menu > li:last-of-type {
  margin-right: 0;
}

.active {
  background-color: #04AA6D;
}



h1, h2, h3 {
  color: #414141;
  font-size: 21px;
  font-family: "Helvitica", sans-serif;
  padding: 15px;
}

h2 {
  font-size: 16px;
}

p {
  padding: 15px;
}

ul {
  font-size: 12px;
}

ol{
  font-size: 12px;
}

#big-name {
  display: flex;
  align-content: center;
  font-size: 30px;
  margin: 15px;
}

#blurb {
  width: auto;
  background-color: #abdbe3; /*light-blue*/
  font-size: 15px;
  padding: 10px 0px 10px 0px;
}

.section {
  border: 2px solid #5D6063;
  padding: 15px;

}

.section2 {
  border: 2px solid #5D6063;
  padding: 15px;
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: center;
}

.section:ul, .section:ol, .section:p, .section:li{
  font-size: 14px;
  background-color: #FFFFFF;

  display:block;
}

.experience {
  margin: 10px;
  width: 20%;
}

.education {
  margin: 10px;
  width: 20%;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #f9f9f9;
  }
}
